.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__step {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-grey-text-color);
    text-transform: uppercase;
  }

  &__help {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-grey-text-color);
    a {
      cursor: pointer;
      color: var(--main-blue-color);
    }
  }
}
