.discrete-slider {
  width: 100%;
  margin-bottom: 20px;

  .MuiSlider-thumb {
    border-radius: 0;
    background: var(--main-blue-color);
  }

  .MuiSlider-rail,
  .MuiSlider-track {
    background: var(--main-blue-color);
  }

  .MuiSlider-markLabel {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--main-blue-color);
  }
}
