.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__backTo {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    cursor: pointer;
    color: var(--main-blue-color);
  }

  &__buttons {
    & button:last-child {
      margin-left: 16px;
    }

    & button {
      padding: 12px 24px;
      outline: none;
      border: none;
      border-radius: 4px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      text-align: center;
      letter-spacing: 0.02em;
    }

    &--skip {
      color: var(--main-blue-color);
      background: rgba(53, 160, 238, 0.1);
    }

    &--next {
      color: #fff;
      background-color: var(--main-blue-color);

      svg {
        path {
          fill: #fff !important;
        }
      }
    }
  }
}
